In [3]:
import pandas as pd

df = pd.read_csv("municipio_agua_esgoto.csv")

In [11]:
print(df.columns.to_list())

['ano', 'id_municipio', 'sigla_uf', 'populacao_atendida_agua', 'populacao_atentida_esgoto', 'populacao_urbana', 'populacao_urbana_residente_agua', 'populacao_urbana_atendida_agua', 'populacao_urbana_atendida_agua_ibge', 'populacao_urbana_residente_esgoto', 'populacao_urbana_atendida_esgoto', 'populacao_urbana_residente_esgoto_ibge', 'extensao_rede_agua', 'extensao_rede_esgoto', 'quantidade_sede_municipal_agua', 'quantidade_sede_municipal_esgoto', 'quantidade_localidade_agua', 'quantidade_localidade_esgoto', 'quantidade_ligacao_ativa_agua', 'quantidade_ligacao_ativa_esgoto', 'quantidade_ligacao_total_agua', 'quantidade_ligacao_total_esgoto', 'quantidade_economia_ativa_agua', 'quantidade_economia_ativa_esgoto', 'quantidade_ligacao_micromedia_ativa_agua', 'quantidade_economia_residencial_ativa_agua', 'quantidade_economia_residencial_ativa_esgoto', 'quantidade_economia_micromedida_ativa_agua', 'quantidade_economia_residencial_micromedida_ativa_agua', 'volume_agua_produzido', 'volume_agua_tratada_eta', 'volume_agua_micromedido', 'volume_agua_consumido', 'volume_agua_faturado', 'volume_agua_macromedido', 'volume_agua_tratada_desinfeccao', 'volume_agua_bruta_exportado', 'volume_agua_tratada_importado', 'volume_agua_tratada_exportado', 'volume_agua_micromedido_economia_ativa', 'volume_servico_agua', 'volume_agua_fluoretada', 'consumo_eletrico_sistemas_agua', 'volume_esgoto_coletado', 'volume_esgoto_tratado', 'volume_esgoto_faturado', 'volume_esgoto_bruto_exportado', 'volume_esgoto_bruto_importado', 'volume_esgoto_importado', 'volume_esgoto_bruto_exportado_tratamento_importador', 'consumo_eletrico_sistemas_esgoto', 'indice_agua_ligacao', 'indice_hidrometracao', 'indice_macromedicao_volume_disponibilizado', 'indice_macromedicao', 'indice_perda_faturamento', 'indice_micromedido_economia', 'indice_coleta_esgoto', 'indice_tratamento_esgoto', 'indice_consumo_agua_faturado', 'indice_extensao_agua_ligacao', 'indice_extensao_esgoto_ligacao', 'indice_consumo_agua_per_capita', 'indice_atendimento_urbano_agua', 'indice_atendimento_agua_esgoto', 'indice_volume_agua_economia', 'indice_faturamento_agua', 'indice_participacao_economia_agua', 'indice_micromedicao_relativo_agua', 'indice_esgotamento_agua_consumida', 'indice_atendimento_esgoto_esgoto', 'indice_perda_distribuicao_agua', 'indice_perda_linear_agua', 'indice_perda_ligacao_agua', 'indice_consumo_agua', 'indice_consumo_medio_agua', 'indice_atendimento_total_agua', 'indice_atendimento_esgoto_agua', 'indice_fluoretacao_agua', 'indice_consumo_energia_agua', 'indice_consumo_energia_esgoto', 'receita_operacional_direta', 'receita_operacional_direta_agua', 'receita_operacional_direta_esgoto', 'receita_operacional_indireta', 'receita_operacional_direta_agua_exportada', 'receita_operacional', 'receita_operacional_direta_esgoto_importado', 'arrecadacao_total', 'credito_areceber', 'despesa_pessoal', 'quantidade_empregado', 'despesa_produto_quimico', 'despesa_energia', 'despesa_servico_terceiro', 'despesa_exploracao', 'despesas_juros_divida', 'despesa_total_servico', 'despesa_ativo', 'despesa_agua_importada', 'despesa_fiscal', 'despesa_fiscal_nao_computada', 'despesa_exploracao_outro', 'despesa_servico_outro', 'despesa_amortizacao_divida', 'despesas_juros_divida_excecao', 'despesa_divida_variacao', 'despesa_divida_total', 'despesa_esgoto_exportado', 'despesa_capitalizavel_municipio', 'despesa_capitalizavel_estado', 'despesa_capitalizavel_prestador', 'investimento_agua_prestador', 'investimento_esgoto_prestador', 'investimento_outro_prestador', 'investimento_recurso_proprio_prestador', 'investimento_recurso_oneroso_prestador', 'investimento_recurso_nao_oneroso_prestador', 'investimento_total_prestador', 'investimento_agua_municipio', 'investimento_esgoto_municipio', 'investimento_outro_municipio', 'investimento_recurso_proprio_municipio', 'investimento_recurso_oneroso_municipio', 'investimento_recurso_nao_oneroso_municipio', 'investimento_total_municipio', 'investimento_agua_estado', 'investimento_esgoto_estado', 'investimento_outro_estado', 'investimento_recurso_proprio_estado', 'investimento_recurso_oneroso_estado', 'investimento_recurso_nao_oneroso_estado', 'investimento_total_estado']

In [5]:
print(df['ano'].unique())

[2018 2021 2017 2020 2019 2015 2013 2016 2012 2014 2009 2011 2010 2007
 2008 2003 2006 2005 2002 2004 2001 1995 2000 1998 1999 2022 1996 1997]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119256 entries, 0 to 119255
Columns: 133 entries, ano to investimento_total_estado
dtypes: float64(130), int64(2), object(1)
memory usage: 121.0+ MB

In [10]:
df_anos_especificos = df[df['ano'].isin([2022, 2021, 2020, 2019, 2018])]
df_anos_especificos

,ano,id_municipio,sigla_uf,populacao_atendida_agua,populacao_atentida_esgoto,populacao_urbana,populacao_urbana_residente_agua,populacao_urbana_atendida_agua,populacao_urbana_atendida_agua_ibge,populacao_urbana_residente_esgoto,...,investimento_recurso_oneroso_municipio,investimento_recurso_nao_oneroso_municipio,investimento_total_municipio,investimento_agua_estado,investimento_esgoto_estado,investimento_outro_estado,investimento_recurso_proprio_estado,investimento_recurso_oneroso_estado,investimento_recurso_nao_oneroso_estado,investimento_total_estado
0,2018,2705606,AL,5276.0,3000.0,7665.0,7665.0,5276.0,12615.0,7665.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
1,2018,2707107,AL,18502.0,8292.0,14245.0,14245.0,14238.0,24891.0,14245.0,...,0.0,0.0,0.0,723542.56,NaN,0.0,723542.56,0.0,0.0,723542.56
2,2021,2709152,AL,39000.0,28000.0,37674.0,37674.0,37500.0,44570.0,37674.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
4,2021,2902104,BA,35540.0,20700.0,20874.0,20874.0,20820.0,54903.0,20874.0,...,0.0,0.0,825550.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
5,2020,2905107,BA,6942.0,547.0,3193.0,3193.0,3193.0,9058.0,3193.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119251,2022,1300805,AM,30805.0,NaN,NaN,NaN,NaN,33080.0,NaN,...,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
119252,2022,2102077,MA,4678.0,NaN,NaN,NaN,NaN,12212.0,NaN,...,0.0,0.0,0.0,100000.00,0.0,0.0,100000.00,0.0,0.0,100000.00
119253,2022,1506104,PA,10000.0,NaN,NaN,NaN,NaN,10851.0,NaN,...,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
119254,2022,2500577,PB,0.0,NaN,NaN,NaN,NaN,2953.0,NaN,...,NaN,NaN,NaN,0.00,0.0,0.0,0.00,0.0,0.0,0.00
119255,2022,4311734,RS,2800.0,NaN,NaN,NaN,NaN,3131.0,NaN,...,0.0,0.0,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN